---
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";
---

<MainLayout title="Yhya Ibrahim's Blog">
    <main>
        <section class="space-y-5 p-4">
            <h1 class="text-center text-3xl font-extabold">Posts</h1>

            <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-2">
            </div>
        </section>
    </main>
</MainLayout>
