---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Yhya Ibrahim">
    <header class="flex items-center justify-center h-dvh">
        <section class="p-4 space-y-4">
            <div class="text-center">
                <h1 class="text-4xl font-black">Yhya Ibrahim</h1>
                <p class="text-black-100 font-extralight">
                    Software Developer that likes developing compilers and
                    interpreters for different programming languages, and trying
                    to learn more about low level stuff.
                </p>
            </div>

            <div class="text-center text-red text-5xl">
                <a href="https://discord.gg/WyJUkAyafF"
                    ><span class="icon-[fa6-brands--discord]"></span></a
                >
                <a href="https://github.com/yhyadev"
                    ><span class="icon-[fa6-brands--github]"></span></a
                >
                <a href="https://youtube.com/@yhyadev"
                    ><span class="icon-[fa6-brands--youtube]"></span></a
                >
                <a href="https://twitch.tv/yhyadev"
                    ><span class="icon-[fa6-brands--twitch]"></span></a
                >
                <a href="https://x.com/yhyaibrahim0"
                    ><span class="icon-[fa6-brands--x-twitter]"></span></a
                >
            </div>

            <div class="flex items-center justify-center">
                <a href="/blog" class="flex items-center justify-center bg-red rounded-lg w-28 h-10">Blog</a>
            </div>
        </section>
    </header>
</MainLayout>
