---
import Layout from "../components/Layout.astro";
import Languages from "../components/Languages.svelte";
---

<Layout>
  <div class="container m-auto mt-4 p-4">
    <Languages />
  </div>
</Layout>
