---
import axios from "axios";

const user = (await axios.get("https://api.github.com/users/yhyadev")).data;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/bin" href={user.avatar_url} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{user.name}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
